.notice{
    padding: 3rem 0;
    text-align: center;
    p{
        margin: 1rem 0;
        font-size: 14px;
        width: 60%;
    }
}


@media screen and (max-width:768px) {
    .notice{
        padding: 3rem 2rem;
        p{
            width: 100%;
        }
    }
}

